:root {
    --dark-grey: #292F36;
    --teal: #4ECDC4;
    --white: #F7FFF7;
    --rose: #FF6B6B;
    --yellow: #FFE66D;
    }

*  {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--white);
    font-family: "Nunito", sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: "Roboto Mono", monospace;
}

.body-box{
    margin: 0 120px;
}

nav {
    width: 100%;
    background-color: var(--white);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: var(--teal);
    border: none;
    padding: 12px;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    border-radius: 4px;
    margin: 0 8px;
    cursor: pointer;
}

#content{
    margin: 48px 0;
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;   
    gap: 24px;
}

.book-card {
    width: 324px;
    padding: 12px;
    border: 0.5px solid var(--dark-grey);
    border-radius: 4px;
}

.img-container img {
    max-width: 300px;
}

.img-container {
    width: 300px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.title-likes, .price-box, .comments-users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.title-likes {
    height: 92px;
    align-items: flex-start;
}

.likes {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

#price{
    background-color: var(--yellow);
    padding: 4px;
    border-radius: 4px;
}

.comments h3 {
    margin-top: 18px;
    border-top: 1px solid var(--dark-grey);
}

.comments-users {
    flex-direction: column;
}

.comments-container {
    font-size: 14px;
    text-align: justify;
    width: 100%;
    margin-bottom: 8px;
}

.user-div {
    width: 40%;
    font-weight: bold;
}

#addComment {
    display: flex;
    gap: 18px;
}

#AddCommentBtn {
    font-size: 12px;
    padding: 8px;
}

input {
    border-radius: 4px;
    border: 1px solid var(--teal);
}